# FastAPI
PROJECT_NAME=notifications
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=True
WORKERS=3

# Mongo
MONGO_VERSION=4.4.23-rc0-focal
MONGO_HOST=mongo_test
MONGO_PORT=27017
MONGO_DB=notifications

# RabbitMQ
RABBIT_VERSION=3.12.6-management
RABBIT_HOST=rabbit_test
RABBIT_PORT=5672
QUEUE_INSTANT=instant.notification
QUEUE_SCHEDULED=scheduled.notification

#tests
SERVICE_URL=http://test_app:8000
